/MyProject/nbproject/private/
/JDBC_CRUD_Demo/nbproject/private/
/JDBC_CRUD_Demo/build/
/AttendanceApp_Draft/nbproject/private/
/AttendanceApp_Draft/build/
/MyProject/build/
/AttendanceApp/nbproject/private/
/AttendanceApp/build/
